.descr {
    display: block;
    
    word-wrap: break-word;
    overflow-x:hidden;
    
}
.fields{
    height: 4em;
    width: 50em;
}
.form1{
    margin-top: 1em;
}
.field {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.table1 {
    overflow: auto;
    display: block;
    margin-top:0.5em;
    border-radius: 1rem;
    box-shadow: 0 0 3rem -1.5rem #959ca7;
}
.error {
    color: red;
}
.idField {
    margin-left:0.5em;
} 
.nonTable{
    border-radius: 1rem;
    box-shadow: 0 0 3rem -1.5rem #959ca7;
    padding-top: 0.5em;
    background: white;
    padding-bottom: 0.5em;
}